:root {
    --top-m: 25px;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 4rem;
}

header p {
    max-width: 33%;
    margin-top: var(--top-m);
    margin-left: 33%;
}

p {
    font-size: 1.6rem;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
}

.quiz-card {
    border: 1px solid black;
    width: 50%;
    margin-left: 25%;
    margin-top: var(--top-m);
}

.quiz-card button {
    display: block;
    margin-top: 10px;
}